nodered/node-red-0.9.1/breazy.json
[{"type":"tab","id":"82999793.3d0918","label":"breezy"},{"id":"bca38fec.ab37d","type":"exec","command":"ls","append":"./","useSpawn":"","name":"list","x":639,"y":570,"z":"82999793.3d0918","wires":[["febca94b.a67668"],["f0030685.af0cf8"],["a92f658d.9a3628"]]},{"id":"febca94b.a67668","type":"debug","name":"stdout","active":false,"console":"true","complete":"true","x":866,"y":556,"z":"82999793.3d0918","wires":[]},{"id":"f0030685.af0cf8","type":"debug","name":"stderr","active":false,"console":"true","complete":"true","x":865,"y":596,"z":"82999793.3d0918","wires":[]},{"id":"a92f658d.9a3628","type":"debug","name":"return","active":false,"console":"true","complete":"true","x":862,"y":636,"z":"82999793.3d0918","wires":[]},{"id":"9c06347b.b61138","type":"comment","name":"Hi","info":"Ho\nhohi","x":945,"y":420,"z":"82999793.3d0918","wires":[]},{"id":"6ff9347f.78633c","type":"inject","name":"stamp","topic":"stamp","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":438,"y":568,"z":"82999793.3d0918","wires":[["bca38fec.ab37d"]]},{"id":"9313ce07.3d712","type":"http request","name":"Air","method":"GET","url":"http://api.erg.kcl.ac.uk/AirQuality/Daily/MonitoringIndex/Latest/GroupName=London","x":327,"y":327,"z":"82999793.3d0918","wires":[["e77d4cfa.2f4b58","be1d3a33.d4b2b8"]]},{"id":"e77d4cfa.2f4b58","type":"debug","name":"logbedlab","active":false,"console":"true","complete":"true","x":490,"y":330,"z":"82999793.3d0918","wires":[]},{"id":"be1d3a33.d4b2b8","type":"xml","name":"parse","x":510,"y":413,"z":"82999793.3d0918","wires":[["e1a81151.6275"]]},{"id":"e1a81151.6275","type":"debug","name":"parsed-bedlab","active":true,"console":"true","complete":"true","x":704,"y":420,"z":"82999793.3d0918","wires":[]},{"id":"53900627.cb894","type":"comment","name":"Hi","info":"Ho\nhohi","x":972,"y":785,"z":"82999793.3d0918","wires":[]},{"id":"78490921.98d29","type":"http request","name":"Weather","method":"GET","url":"http://api.wunderground.com/api/232e24ca50c6ec3d/forecast/geolookup/conditions/q/CA/San_Francisco.xml","x":354,"y":692,"z":"82999793.3d0918","wires":[["ece51f1a.9dc13","db2ff935.605f"]]},{"id":"87638bd6.2146f8","type":"inject","name":"get","topic":"","payload":"","payloadType":"none","repeat":"10","crontab":"","once":true,"x":185,"y":593,"z":"82999793.3d0918","wires":[["78490921.98d29","9313ce07.3d712"]]},{"id":"ece51f1a.9dc13","type":"debug","name":"logbedlab","active":false,"console":"true","complete":"true","x":517,"y":695,"z":"82999793.3d0918","wires":[]},{"id":"db2ff935.605f","type":"xml","name":"parse","x":537,"y":778,"z":"82999793.3d0918","wires":[["fe2af54b.dd99d8"]]},{"id":"fe2af54b.dd99d8","type":"debug","name":"parsed-bedlab","active":true,"console":"true","complete":"true","x":731,"y":785,"z":"82999793.3d0918","wires":[]}]