nodered/node-red-0.9.1/breazy.json
[{"type":"tab","id":"82999793.3d0918","label":"breezy"},{"id":"acd8a793.80c6e","type":"mongodb","hostname":"localhost","port":"27017","db":"treo","name":"treo"},{"id":"9c06347b.b61138","type":"comment","name":"Write API","info":"Reads JSON body of a POST,\nAppends a timestamp to it\nand writes it to the mongo database.","x":163,"y":42,"z":"82999793.3d0918","wires":[]},{"id":"9313ce07.3d712","type":"http request","name":"Air","method":"GET","url":"http://api.erg.kcl.ac.uk/AirQuality/Daily/MonitoringIndex/Latest/GroupName=London","x":346,"y":526,"z":"82999793.3d0918","wires":[["e77d4cfa.2f4b58","be1d3a33.d4b2b8"]]},{"id":"e77d4cfa.2f4b58","type":"debug","name":"logbedlab","active":false,"console":"true","complete":"true","x":509,"y":529,"z":"82999793.3d0918","wires":[]},{"id":"be1d3a33.d4b2b8","type":"xml","name":"parse","x":529,"y":612,"z":"82999793.3d0918","wires":[["e1a81151.6275"]]},{"id":"e1a81151.6275","type":"debug","name":"parsed-bedlab","active":true,"console":"true","complete":"true","x":723,"y":619,"z":"82999793.3d0918","wires":[]},{"id":"78490921.98d29","type":"http request","name":"Weather","method":"GET","url":"http://api.wunderground.com/api/232e24ca50c6ec3d/forecast/geolookup/conditions/q/CA/San_Francisco.xml","x":354,"y":692,"z":"82999793.3d0918","wires":[["ece51f1a.9dc13","db2ff935.605f"]]},{"id":"87638bd6.2146f8","type":"inject","name":"get","topic":"","payload":"","payloadType":"none","repeat":"10","crontab":"","once":true,"x":185,"y":593,"z":"82999793.3d0918","wires":[["9313ce07.3d712","78490921.98d29"]]},{"id":"ece51f1a.9dc13","type":"debug","name":"logbedlab","active":false,"console":"true","complete":"true","x":517,"y":695,"z":"82999793.3d0918","wires":[]},{"id":"db2ff935.605f","type":"xml","name":"parse","x":537,"y":778,"z":"82999793.3d0918","wires":[["fe2af54b.dd99d8"]]},{"id":"fe2af54b.dd99d8","type":"debug","name":"parsed-bedlab","active":true,"console":"true","complete":"true","x":731,"y":785,"z":"82999793.3d0918","wires":[]},{"id":"be008e1d.646ee","type":"mongodb out","mongodb":"acd8a793.80c6e","name":"treo-write","collection":"treo","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":586,"y":178,"z":"82999793.3d0918","wires":[]},{"id":"1b387490.1cdffb","type":"mongodb in","mongodb":"acd8a793.80c6e","name":"treo-read","collection":"treo","operation":"find","x":359,"y":419,"z":"82999793.3d0918","wires":[["b68a73a3.91cce","71e78995.41394"]]},{"id":"b68a73a3.91cce","type":"debug","name":"trea-read-log","active":true,"console":"true","complete":"true","x":585,"y":351,"z":"82999793.3d0918","wires":[]},{"id":"20154c10.8f1bac","type":"http in","name":"write","url":"/api","method":"post","x":177,"y":162,"z":"82999793.3d0918","wires":[["4230d72.c7670a8","392d44b3.c41e74","18d69fa0.3a07f8"]]},{"id":"4230d72.c7670a8","type":"debug","name":"write debug","active":true,"console":"true","complete":"true","x":367,"y":114,"z":"82999793.3d0918","wires":[]},{"id":"ee024279.8def28","type":"http in","name":"read","url":"/api","method":"get","x":178,"y":419,"z":"82999793.3d0918","wires":[["1b387490.1cdffb"]]},{"id":"71e78995.41394","type":"http response","name":"read res","x":573,"y":419,"z":"82999793.3d0918","wires":[]},{"id":"392d44b3.c41e74","type":"http response","name":"write res","x":372,"y":160,"z":"82999793.3d0918","wires":[]},{"id":"18d69fa0.3a07f8","type":"function","name":"Write post","func":"msg.payload.Stamp=new Date();\nreturn msg.payload;","outputs":1,"x":364,"y":208,"z":"82999793.3d0918","wires":[["be008e1d.646ee","23e84da0.b343c2"]]},{"id":"23e84da0.b343c2","type":"debug","name":"read rest","active":true,"console":"true","complete":"true","x":592,"y":235,"z":"82999793.3d0918","wires":[]},{"id":"9d93b0c6.86d14","type":"comment","name":"Read API","info":"On a get Request,\nReads the value of the mongo databse,\nAnd sends the rest in the Response.","x":175,"y":284,"z":"82999793.3d0918","wires":[]},{"id":"efc31736.f14658","type":"comment","name":"Scrape Function","info":"On a set interval (10sec),\nSend a Get request to Environmental APIs,\nWrite the data in the Database.","x":186,"y":474,"z":"82999793.3d0918","wires":[]}]