nodered/node-red-0.9.1/breazy.json
[{"type":"tab","id":"82999793.3d0918","label":"breezy"},{"id":"acd8a793.80c6e","type":"mongodb","hostname":"localhost","port":"27017","db":"treo","name":"treo"},{"id":"9c06347b.b61138","type":"comment","name":"Write API","info":"Reads JSON body of a POST,\nAppends a timestamp to it\nand writes it to the mongo database.","x":163,"y":42,"z":"82999793.3d0918","wires":[]},{"id":"9313ce07.3d712","type":"http request","name":"Air","method":"GET","url":"http://api.erg.kcl.ac.uk/AirQuality/Daily/MonitoringIndex/Latest/GroupName=London","x":346,"y":526,"z":"82999793.3d0918","wires":[["e77d4cfa.2f4b58","be1d3a33.d4b2b8"]]},{"id":"e77d4cfa.2f4b58","type":"debug","name":"logbedlab","active":false,"console":"true","complete":"true","x":509,"y":529,"z":"82999793.3d0918","wires":[]},{"id":"be1d3a33.d4b2b8","type":"xml","name":"parse","x":529,"y":612,"z":"82999793.3d0918","wires":[["e1a81151.6275","bb0761dd.fe7bd8"]]},{"id":"e1a81151.6275","type":"debug","name":"parsed-bedlab","active":false,"console":"true","complete":"true","x":719,"y":613,"z":"82999793.3d0918","wires":[]},{"id":"78490921.98d29","type":"http request","name":"Weather","method":"GET","url":"http://api.wunderground.com/api/232e24ca50c6ec3d/forecast/geolookup/conditions/q/CA/San_Francisco.json","x":354,"y":692,"z":"82999793.3d0918","wires":[["b4ccd387.c18c48","6c818ebb.3bbe98"]]},{"id":"87638bd6.2146f8","type":"inject","name":"get","topic":"","payload":"","payloadType":"none","repeat":"10","crontab":"","once":true,"x":185,"y":593,"z":"82999793.3d0918","wires":[["78490921.98d29","9313ce07.3d712"]]},{"id":"fe2af54b.dd99d8","type":"debug","name":"Temp-Today","active":false,"console":"true","complete":"true","x":882,"y":727,"z":"82999793.3d0918","wires":[]},{"id":"be008e1d.646ee","type":"mongodb out","mongodb":"acd8a793.80c6e","name":"treo-write","collection":"treo","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":586,"y":178,"z":"82999793.3d0918","wires":[]},{"id":"1b387490.1cdffb","type":"mongodb in","mongodb":"acd8a793.80c6e","name":"treo-read","collection":"treo","operation":"find","x":359,"y":419,"z":"82999793.3d0918","wires":[["b68a73a3.91cce","71e78995.41394","6e4dba85.913a44"]]},{"id":"b68a73a3.91cce","type":"debug","name":"trea-read-log","active":false,"console":"true","complete":"true","x":585,"y":351,"z":"82999793.3d0918","wires":[]},{"id":"20154c10.8f1bac","type":"http in","name":"write","url":"/api","method":"post","x":177,"y":162,"z":"82999793.3d0918","wires":[["4230d72.c7670a8","392d44b3.c41e74","18d69fa0.3a07f8"]]},{"id":"4230d72.c7670a8","type":"debug","name":"write debug","active":false,"console":"true","complete":"true","x":367,"y":114,"z":"82999793.3d0918","wires":[]},{"id":"ee024279.8def28","type":"http in","name":"read","url":"/api","method":"get","x":178,"y":419,"z":"82999793.3d0918","wires":[["1b387490.1cdffb"]]},{"id":"71e78995.41394","type":"http response","name":"read res","x":573,"y":419,"z":"82999793.3d0918","wires":[]},{"id":"392d44b3.c41e74","type":"http response","name":"write res","x":372,"y":160,"z":"82999793.3d0918","wires":[]},{"id":"18d69fa0.3a07f8","type":"function","name":"Write post","func":"msg.payload.Stamp=new Date();\nreturn msg.payload;","outputs":1,"x":364,"y":208,"z":"82999793.3d0918","wires":[["be008e1d.646ee","23e84da0.b343c2"]]},{"id":"23e84da0.b343c2","type":"debug","name":"trea write","active":false,"console":"true","complete":"true","x":592,"y":235,"z":"82999793.3d0918","wires":[]},{"id":"9d93b0c6.86d14","type":"comment","name":"Read API","info":"On a get Request,\nReads the value of the mongo databse,\nAnd sends the rest in the Response.","x":175,"y":284,"z":"82999793.3d0918","wires":[]},{"id":"efc31736.f14658","type":"comment","name":"Scrape Function","info":"On a set interval (10sec),\nSend a Get request to Environmental APIs,\nWrite the data in the Database.","x":186,"y":474,"z":"82999793.3d0918","wires":[]},{"id":"6c818ebb.3bbe98","type":"function","name":"weather.payload","func":"var ret = JSON.parse(msg.payload);\nvar msg1 = ret.current_observation.temp_c;\nvar msg2 = ret.forecast.simpleforecast.forecastday[2].high.celsius\n//msg.payload.response.temp_c\nreturn [msg1,msg2];","outputs":"2","x":655,"y":773,"z":"82999793.3d0918","wires":[["fe2af54b.dd99d8","1debd414.72980c"],["2501283b.4d7f18","1debd414.72980c"]]},{"id":"b4ccd387.c18c48","type":"debug","name":"parsed-json","active":false,"console":"true","complete":"true","x":642,"y":695,"z":"82999793.3d0918","wires":[]},{"id":"2501283b.4d7f18","type":"debug","name":"Temp-Forecast","active":false,"console":"true","complete":"true","x":876,"y":798,"z":"82999793.3d0918","wires":[]},{"id":"bb0761dd.fe7bd8","type":"function","name":"air payload","func":"var ret = msg.payload.DailyAirQualityIndex.LocalAuthority[2].Site[3];\nmsg1=ret.Species[0].$.AirQualityIndex;\nmsg2=ret.Species[1].$.AirQualityIndex;\nmsg3=ret.Species[2].$.AirQualityIndex;\nmsg4=ret.Species[3].$.AirQualityIndex;\nreturn  [msg1, msg2, msg3, msg4];","outputs":"4","x":700,"y":507,"z":"82999793.3d0918","wires":[["72799007.7abc48","1debd414.72980c"],["999158f0.4e51b","1debd414.72980c"],["35a67f3a.286688","1debd414.72980c"],["b5cf2e67.434298","1debd414.72980c"]]},{"id":"72799007.7abc48","type":"debug","name":"AirPay-NO2","active":false,"console":"true","complete":"true","x":869,"y":424,"z":"82999793.3d0918","wires":[]},{"id":"999158f0.4e51b","type":"debug","name":"AirPay-03","active":false,"console":"true","complete":"true","x":872,"y":468,"z":"82999793.3d0918","wires":[]},{"id":"35a67f3a.286688","type":"debug","name":"AirPay-SO2","active":false,"console":"true","complete":"true","x":871,"y":509,"z":"82999793.3d0918","wires":[]},{"id":"b5cf2e67.434298","type":"debug","name":"AirPay-PM","active":false,"console":"true","complete":"true","x":871,"y":555,"z":"82999793.3d0918","wires":[]},{"id":"6e4dba85.913a44","type":"function","name":"readpayload.payload","func":"var i = Math.floor(Math.random()*11);\nvar ret = msg.payload[1];\nvar msg1  = ret.Temp;\nvar msg2  = ret.Humid;\nvar msg3  = ret.Light;\nvar msg4  = ret.CO;\nvar msg5  = ret.PM;\nreturn [msg1, msg2, msg2, msg4, msg5];","outputs":"5","x":810,"y":167,"z":"82999793.3d0918","wires":[["29404431.81677c","1debd414.72980c"],["5e0d4509.1ca7bc","1debd414.72980c"],["c57d193e.3fa978","1debd414.72980c"],["276be325.c1b6f4","1debd414.72980c"],["6b8ac41f.0008cc","1debd414.72980c"]]},{"id":"29404431.81677c","type":"debug","name":"trea-read-Temp","active":false,"console":"true","complete":"true","x":1034,"y":98,"z":"82999793.3d0918","wires":[]},{"id":"5e0d4509.1ca7bc","type":"debug","name":"trea-read-Humid","active":false,"console":"true","complete":"true","x":1038,"y":143,"z":"82999793.3d0918","wires":[]},{"id":"c57d193e.3fa978","type":"debug","name":"trea-read-Light","active":false,"console":"true","complete":"true","x":1035,"y":181,"z":"82999793.3d0918","wires":[]},{"id":"276be325.c1b6f4","type":"debug","name":"trea-read-CO","active":false,"console":"true","complete":"true","x":1034,"y":222,"z":"82999793.3d0918","wires":[]},{"id":"6b8ac41f.0008cc","type":"debug","name":"trea-read-PM","active":false,"console":"true","complete":"true","x":1033,"y":264,"z":"82999793.3d0918","wires":[]},{"id":"a768c248.68a138","type":"comment","name":"AirQuality Readings","info":"","x":942,"y":379,"z":"82999793.3d0918","wires":[]},{"id":"a9aae1be.762c2","type":"comment","name":"Sensor Readings","info":"","x":931,"y":46,"z":"82999793.3d0918","wires":[]},{"id":"e67c16dc.dc1ee","type":"comment","name":"Weather Readings","info":"","x":965,"y":676,"z":"82999793.3d0918","wires":[]},{"id":"3e35ab5d.c8168c","type":"comment","name":"N02 - 200Bad, 500Notice","info":"","x":1237,"y":530,"z":"82999793.3d0918","wires":[]},{"id":"d888c62b.4183f","type":"comment","name":"CO ppm >35-Dizzy/8hr, >400-headache/hr >1000-Convulsion, >1500-Heartattack","info":"","x":1186,"y":593,"z":"82999793.3d0918","wires":[]},{"id":"1debd414.72980c","type":"function","name":"Treo Algorithm","func":"var reads = 11;\ncontext.msgs = context.msgs || [];\ncontext.count = context.count || 0;    \ncontext.value = context.value || 0;\nvar i = (context.count+1) % reads;\ncontext.count += 1;\ncontext.msgs[i] = msg;\nfor (var j = 0; j < reads-1; j++) {\n\t//context.value=j;\n\tcontext.value=(context.msgs[j]||0) + (context.msgs[j+1]||0);\n}\nreturn [context.value, context.count, context.msgs[i]];","outputs":"3","x":1182,"y":492,"z":"82999793.3d0918","wires":[["8a4de6a9.777798"],["dc32bbbd.1283a"],["2e78d595.875a32"]]},{"id":"2e78d595.875a32","type":"debug","name":"Algo-msg","active":false,"console":"true","complete":"true","x":1375,"y":500,"z":"82999793.3d0918","wires":[]},{"id":"dc32bbbd.1283a","type":"debug","name":"Algo.count","active":false,"console":"true","complete":"true","x":1367,"y":456,"z":"82999793.3d0918","wires":[]},{"id":"8a4de6a9.777798","type":"debug","name":"Algo.value","active":true,"console":"true","complete":"true","x":1369,"y":415,"z":"82999793.3d0918","wires":[]}]